
  body{
  background-color:bisque;
  font-family:Arial;
  }
 
h1{
    background-color: aquamarine
     width:10000px  
}

form{
    margin:0 auto;
    width:1000px;
    background-color:
    
}